


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title></title>

        <style>
            body {
                background-image: url('images/jaro.jpg') no-repeat;
            }
            .content {
                text-align:center;
                margin-top:0px;
                font-size:32px;
                text-align:left;
            }

        </style>
    </head>
    <body>
        <div class="content"> 
       
            <div>{$data['typ']}</div>
            <div>{$data['titul']}</div>
            <div>{$data['from']}</div>
            <div>{$data['to']}</div>

        </div>
    </body>
</html>

