
{block content}

<div><a class="ajax" n:href="sessionPrvni!">nastav session na hodnotu "prvni"</a></div>
<div><a class="ajax" n:href="sessionDruhy!">nastav session na hodnotu "druhy"</a></div>
<div>{$session}</div>
<div>{$test}</div>